<!DOCTYPE html>
 <html>
 <head>
     <title>Index01</title>
     

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
     <script src="static/js/angular-route.js"></script>
     <script src="static/js/script.js"></script>   

 </head>
 <body ng-app="myapp">

 <div class="container">
        <div ng-controller="mycontroller">
           
            
           <table class="table table-bordered">
                <thead>
                    <th> OPP1</th>
                    <th> OPP2</th>
                    <th>CHANNEL</th>
                    <th>DAY</th>
                    <th>REACH</th>
                    <th>DATE</th>
                </thead>
            <tbody>
                <tr ng-repeat = "data in contents">
                    <td> [[data.OPP1]]</td>
                    <td> [[data.OPP2]]</td>
                    <td> [[data.CHANNEL]]</td>
                    <td> [[data.DAY]]</td>
                    <td> [[data.REACH]]</td>
                    <td>[[data.DATE.$date | date:dd/mm/yyyy]]</td>
                    
                </tr>
                
            </tbody>


            </table>
             </div>
    </div>

 
 </body>
 </html>